.favorites {
  h1 {
    font-size: 28px;
    font-weight: 700;
    margin: 50px 0px 60px 0px;
  }
  &__container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    h1,
    h2 {
      text-align: center;
      font-size: 20px;
      font-weight: 600;
    }
  }
  &__item {
    display: flex;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.591);
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    padding: 10px 15px; /* Увеличим стандартный padding для более приятного вида */
    border: 1px solid transparent; /* Без границы по умолчанию */
    border-radius: 10px; /* Закруглённые углы */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Лёгкая тень */
    transition: all 0.3s ease; /* Плавный переход */

    &:hover {
      border: 1px solid #1677ff;
      padding: 8px 13px; /* Лёгкое уменьшение padding для эффекта "вдавливания" */
      border-radius: 15px; /* Увеличим радиус */
      box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); /* Усилим тень */
      background-color: rgba(
        255,
        255,
        255,
        1
      ); /* Сделаем фон менее прозрачным */
      transform: translateY(-3px); /* Поднимем блок */
    }
  }
  &__buttons {
    display: flex;
    gap: 20px;

    button {
      font-size: 14px;
      background-color: white;
      cursor: pointer;
    }

    &--change {
      color: #1677ff;
      &:hover {
        color: #1454ad79;
      }
    }

    &--delete {
      color: red;
      &:hover {
        color: rgba(156, 19, 19, 0.607);
      }
    }
  }
}
