$color: #1677ff;

.login {
  background-color: #f3f3f3;
  border: 2px solid black;
  border-radius: 15px;
  height: 450px;
  width: 360px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  &__icon {
    color: red;
    font-size: 80px;
  }

  &__title {
    font-size: 2.5rem; /* Большой размер шрифта для акцента */
    font-weight: 500; /* Жирное начертание */
    color: rgba(36, 35, 35, 0.767);
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  &__form {
    width: 70%;
  }
  &__input {
    font-size: 16px;
    padding: 7px;
  }
  &__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-size: 15px;
  }
  &__button {
    width: 100%;
    font-size: 16px;
    padding: 18px 0px;
    font-weight: 500;
    // &:hover {
    //   color: rgba(226, 14, 14, 0.574) !important;
    // }
  }
  &__link {
    cursor: pointer;
    &:hover {
      color: $color;
    }
  }
}
