@charset "UTF-8";
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

ul,
ol,
li {
  list-style: none;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: inherit;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

html,
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: var(--var-body-fc);
  font-family: "Regular";
  font-weight: 400;
  font-size: 16px;
}

.container {
  max-width: 1060px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

.login {
  background-color: #f3f3f3;
  border: 2px solid black;
  border-radius: 15px;
  height: 450px;
  width: 360px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.login__icon {
  color: red;
  font-size: 80px;
}
.login__title {
  font-size: 2.5rem; /* Большой размер шрифта для акцента */
  font-weight: 500; /* Жирное начертание */
  color: rgba(36, 35, 35, 0.767);
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.login__form {
  width: 70%;
}
.login__input {
  font-size: 16px;
  padding: 7px;
}
.login__buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  font-size: 15px;
}
.login__button {
  width: 100%;
  font-size: 16px;
  padding: 18px 0px;
  font-weight: 500;
}
.login__link {
  cursor: pointer;
}
.login__link:hover {
  color: #1677ff;
}

.registration {
  width: 50%;
  padding-top: 20px;
  background-color: #f3f3f3;
  border: 2px solid black;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.registration__title {
  font-size: 2.5rem;
  color: rgba(36, 35, 35, 0.767);
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
}
.form__input {
  margin-bottom: 15px;
}
.form__radio {
  display: flex;
}
.form__radio label {
  margin: 0px;
}
.form__buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form__buttons button {
  font-size: 15px;
  padding: 18px 25px;
}
.form__link {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 15px;
}

.wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.wrap__header {
  background-color: #ffffff;
  padding: 0px;
}
.wrap__header-block {
  position: relative;
  top: 0;
  left: 0;
}
.wrap__menu {
  display: flex;
  margin-left: 60px;
}
.wrap__menu li:nth-child(3) {
  margin: 0px 0px 0px auto;
}
.wrap__menu li span:hover {
  color: #1677ff;
}
.wrap__icon {
  color: red;
  font-size: 60px;
  position: absolute;
  top: 0;
  left: 5px;
  cursor: pointer;
}
.wrap__icon:hover {
  color: white;
  background-color: black;
  transition: all 0.5s;
}
:root {
  --colorHeart: #1677ff;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.main-search {
  width: 100%;
}
.main-search h1 {
  font-size: 36px;
  margin: 20px 0px 10px 0px;
}
.main h1 {
  font-size: 36px;
  margin-bottom: 20px;
}
.main__search-input {
  width: 650px;
}
.main__search-input button {
  padding: 0px 40px;
}

.fa-heart {
  color: var(--colorHeart);
  font-size: 18px;
  cursor: pointer;
}

.fa-list {
  color: rgba(0, 0, 0, 0.348);
  cursor: pointer;
}
.fa-list_active {
  color: black;
}

.fa-grip {
  color: rgba(0, 0, 0, 0.348);
  cursor: pointer;
}
.fa-grip_active {
  color: black;
}

.search__second-line {
  display: flex;
  margin: 20px 0px;
  justify-content: space-between;
}
.search__subtitle-block {
  display: flex;
  gap: 15px;
}
.search__subtitle-block h2:last-child {
  color: rgba(0, 0, 0, 0.382);
}
.search__subtitle span {
  font-weight: 700;
}
.search__filter-options {
  display: flex;
  font-size: 16px;
  gap: 12px;
}

.videos__block-content {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  align-items: baseline;
}
.videos__block-content img {
  height: 100%;
  width: 100%;
}
.videos__block {
  display: flex;
  flex-direction: column;
  flex: 1 1 20%;
  gap: 5px;
}
.videos__title {
  text-align: justify;
  font-weight: 700;
}
.videos__subtitle {
  font-weight: 500;
  color: rgba(0, 0, 0, 0.451);
}

.videos__list-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.videos__block2 {
  display: flex;
  gap: 10px;
}
.videos__info-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 16px;
}

.modal h3 {
  text-align: center;
  font-weight: 700;
}
.modal__form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.modal__form div {
  margin: 0px;
}
.modal__form div label {
  font-size: 13px;
}
.modal__name-required::before {
  content: "*";
  color: red;
  top: 0;
  left: 0;
  font-size: px;
}
.modal__slider {
  width: 100%;
}
.modal__slider-block {
  display: flex;
  align-items: center;
  gap: 10px;
}
.modal__buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.modal__buttons button {
  flex: 1 1 auto;
  padding: 18px 0px;
}

.api-modal {
  text-align: center;
  font-weight: 500;
}
.api-modal h1 {
  font-size: 18px;
}
.api-modal__block {
  display: flex;
  gap: 5px;
  align-items: center;
  margin: 10px 0px;
}
.api-modal__block input {
  margin-left: 10px;
  width: 100%;
}
.api-modal a {
  color: #1677ff;
}
.api-modal a:hover {
  color: rgba(89, 154, 246, 0.563);
}

.favorites h1 {
  font-size: 28px;
  font-weight: 700;
  margin: 50px 0px 60px 0px;
}
.favorites__container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.favorites__item {
  display: flex;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.591);
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  padding: 10px 15px; /* Увеличим стандартный padding для более приятного вида */
  border: 1px solid transparent; /* Без границы по умолчанию */
  border-radius: 10px; /* Закруглённые углы */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Лёгкая тень */
  transition: all 0.3s ease; /* Плавный переход */
}
.favorites__item:hover {
  border: 1px solid #1677ff;
  padding: 8px 13px; /* Лёгкое уменьшение padding для эффекта "вдавливания" */
  border-radius: 15px; /* Увеличим радиус */
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); /* Усилим тень */
  background-color: rgb(255, 255, 255); /* Сделаем фон менее прозрачным */
  transform: translateY(-3px); /* Поднимем блок */
}
.favorites__buttons {
  display: flex;
  gap: 20px;
}
.favorites__buttons--change {
  background-color: white;
  color: #1677ff;
  cursor: pointer;
}
.favorites__buttons--change:hover {
  color: rgba(20, 84, 173, 0.4745098039);
}
.favorites__buttons--delete {
  color: red;
  background-color: white;
  cursor: pointer;
}
.favorites__buttons--delete:hover {
  color: rgba(156, 19, 19, 0.607);
}

body {
  margin: 0;
  padding: 0;
  height: 100vh; /* Высота окна браузера */
}