.modal {
  & h3 {
    text-align: center;
    font-weight: 700;
  }
  &__form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    & div {
      margin: 0px;
      label {
        font-size: 13px;
      }
    }
  }
  &__name-required {
    &::before {
      content: '*';
      color: red;
      top: 0;
      left: 0;
      font-size: px;
    }
  }
  &__slider {
    width: 100%;
    &-block {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }

  &__buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    button {
      flex: 1 1 auto;
      padding: 18px 0px;
    }
  }
}

.api-modal {
  text-align: center;
  font-weight: 500;
  h1 {
    font-size: 18px;
  }
  &__block {
    display: flex;
    gap: 5px;
    align-items: center;
    margin: 10px 0px;
    input {
      margin-left: 10px;
      width: 100%;
    }
  }
  a {
    color: #1677ff;
    &:hover {
      color: rgba(89, 154, 246, 0.563);
    }
  }
}
