.videos {
  &__block-content {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    align-items: baseline;
    img {
      height: 100%;
      width: 100%;
    }
  }
  &__block {
    display: flex;
    flex-direction: column;
    flex: 1 1 20%;
    gap: 5px;
    // margin-bottom: 10px;
  }
  &__title {
    text-align: justify;
    font-weight: 700;
  }
  &__subtitle {
    font-weight: 500;
    color: rgba(0, 0, 0, 0.451);
  }
  &__img {
    border-radius: 20px;
    transition: all 0.5s;
    &:hover {
      // border: 1px solid #1677ff;
      border-radius: 20px; /* Увеличим радиус */
      padding: 10px 13px;
      background: rgba(0, 0, 0, 0); /* Сделаем фон менее прозрачным */
      transform: scale(1.1, 1.1); /* Увеличим блок */
    }
  }
}

.videos {
  &__list-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  &__block2 {
    display: flex;
    gap: 10px;
  }
  &__info-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 16px;
  }
}
